{% extends 'base.html' %}
{% block title %}
Host
{% endblock %}


{% block content %}
<!--<hr>-->
<!--<h2>Create Something</h2>-->
<!--<form action='/host' method="POST">-->
<!--    Title:<input type="text" name="title" id="title">-->
<!--    <br>-->
<!--    <input type="submit" value="Post">-->
<!--</form>-->
<!--<hr>-->

    <form action='/host/' method="POST">
        <div class="somebutton">
        <input type="submit" class="btn btn-success" value="create new database" name="new-database" style="text-align: right;"/>
            </div>
    </form>

<table class="styled-table" align="right" >
    <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">ID</th>
        <th scope="col">Company</th>
        <th scope="col">name</th>
        <th scope="col">Price</th>
        <th scope="col">discount</th>
        <th scope="col">plus_one</th>
        <th scope="col">points</th>
        <th scope="col">city</th>
        <th scope="col">link</th>
        <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for item in info %}
    <tr>
        {% if item[8] not in more_data %}
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}₪</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        <td>
            <a href="{{item[8]}}" target="_blank"> link </a>
            <!--<td>{{item[8]}}</td> -->
        </td>
        <td>
            <hr>
            <form action='/host/' method="POST">
                <!--               <input type="submit" value="Delete" name="{{item[8]}}"/>-->
                <input type="submit" class="btn btn-danger" value={{item[8]}} name="action1" />
                <h4>ID</h4><input type="text"  name="text"/>
                <h4>Name</h4><input type="text"  name="name"/>
            </form>

            <!--            <button class="btn btn-outline btn-info">More Info</button>-->
            <!--            <button class="btn btn-outlinr btn-success">Purchase This Item</button>-->
            <hr>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>

<table class="styled-table" align="right" >
    <h2>Dictionary</h2>

    <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">ID</th>
        <th scope="col">link</th>
        <th scope="col">name</th>
        <th scope="col">buttons</th>
    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for item in info2 %}
    <tr>
        <td>{{item[0]}}</td>
        <td>
            <a href="{{item[1]}}" target="_blank"> link </a>
            <!--<td>{{item[8]}}</td> -->
        </td>
                <td>{{item[2]}}</td>
        <td>
            <form action='/host/' method="POST">
                <input type="submit" class="btn btn-success" value={{item[1]}} name="action2"/>
            </form>

            <!--            <button class="btn btn-outline btn-info">More Info</button>-->
            <!--            <button class="btn btn-outlinr btn-success">Purchase This Item</button>-->

        </td>
    </tr>
    {% endfor %}
            <hr>
<style>

table td { text-align: right; }
table td:nth-child(3) { text-align: right; }
th:link{
        color: #0AA1DD
        }
        h2{text-align: right;}
        h4{text-align: right;}
        h3{text-align: right;}
        th{text-align: right;}
        <td>text-align: right;</td>
.btn btn-danger{
text-align: right;
}
.btn btn-success{

text-align: right;
}
h2{margin-right: -300px;}
.somebutton{
margin-right: -300px;
text-align: right;
}
.styled-table {
    margin-right: -300px;
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #0AA1DD;
    color: #ffffff;
    text-align: right;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0AA1DD;
}</style>
    {% endblock %}
